#include <input/processors.dtsi>

&gpio0 {
    as5600_power {
        gpio-hog;
        gpios = <3 GPIO_ACTIVE_LOW>;
        output-low;
        line-name = "as5600_power";
    };
};

&xiao_i2c {
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    status = "okay";

    as5600: as5600@36 {
        compatible = "zmk,input-ams-as5600";
        reg = <0x36>;
        status = "okay";
    };
};

/ {
    chosen {
        zmk,kscan = &default_kscan;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";

        input-gpios =
            <&xiao_d 1 GPIO_ACTIVE_HIGH>,
            <&xiao_d 2 GPIO_ACTIVE_HIGH>;
    };

    as5600_listener: as5600_listener {
        compatible = "zmk,input-listener";
        device = <&as5600>;
        input-processors = <&zip_scroll_scaler (-1) 2>;
    };
};